body {
	background: #143054;
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.9 em;
}

header {
	border-top-style: none;
	border-width: 1px;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: dotted;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
	text-align:center;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.subheading {
	margin-left: 10%;
	font-style: italic;
}
nav {
	line-height:200%;
	
}

nav ul {
	font-size: 0.9 em;
	width: 12%;
	list-style-type: none;
	float: left;
	display:block;
	background-color: #051b38;
	/*background-color: rgba(255,255,255,.15); */
	text-align: center;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
	border-style: dotted;
	border-width: 1px;
}

p, article { 
	background-color: #748ba7;
	color: #ffffff;
	display: block; 
	margin-left: 15%;
	margin-right: 10%;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-style: dotted;
	border-width: 1px;
	
}

article p {
	display: inline;
	border:none;
	margin: 5px ;
	padding: 0;
	padding-bottom: 10px;
	line-height: 125%;
}

table {
	margin-top: 10px;
}

a:link, a:visited  {
	color:#ffffff;
	font-weight:bolder;
}

a:link:hover,tny a:visited:hover {
	border:none;
	color:#ffff00;
	background-color:#000000;
}

footer {
	background-color: #051b38;
	border-top-style: dotted;
	border-width: 1px;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	position: fixed;
	bottom:5px;
	width: 90%;
	margin-left:5%;
	margin-right:5%;
	text-align:center;
}

address {
	display: inline;
}